body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #147c35;
  margin: 0;
}


.navbar {
  background: #ffffff;
  border-bottom: 2px solid #308062;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 32px;
}

a {
  font-weight: 500;
  color: #18b87b;
  padding: 10px;
  text-decoration: inherit;  
}


.navbar .logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 26px;
  color: #2eccb6;
}


.navbar nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
}


.hero {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}


 .hero img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
} 


 .hero-content {
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translateY(-50%);
  color: #fefefe;
} 



.hero-content h1 {
  font-size: 2.2rem;
  font-weight: bold;
}


.hero-content .details-btn {
  background: #1d95d1;
  color: #f8f8f8;
  border: none;
  padding: 12px 28px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;

}

.details-btn:hover {
  background-color: #45a049;
}